In [3]:
import pandas as pd

In [8]:
cluster = pd.read_csv('../data/LIDC_data_split_with_cluster_of_10.csv', index_col=0)
cluster_m = cluster[cluster['malignancy_b'] == 1]

In [9]:
cluster_m.head()

,noduleID,spic_groups,malignancy,malignancy_b,split,cluster1,cluster2,cluster3,cluster4,cluster5,cluster6,cluster7,cluster8,cluster9,cluster10,cluster_mode
0,1,2,3,1,0,2,1,1,1,1,1,1,1,1,2,1
1,2,3,3,1,0,1,2,2,2,2,2,2,2,2,1,2
2,3,2,3,1,1,2,1,1,1,1,1,1,1,1,2,1
3,4,2,2,1,0,1,1,2,2,2,2,1,2,2,1,2
4,5,2,2,1,2,1,2,2,2,2,2,2,2,2,2,2

In [10]:
sum(cluster_m['cluster_mode'] == 1)

236

In [27]:
sum((cluster_m['cluster_mode'] == 1) & (cluster_m['malignancy'] == 3))

158

In [31]:
sum((cluster_m['cluster_mode'] == 1) & (cluster_m['malignancy'] == 2))

78

In [28]:
sum((cluster_m['cluster_mode'] == 2) & (cluster_m['malignancy'] == 3))

77

In [29]:
sum((cluster_m['cluster_mode'] == 2) & (cluster_m['malignancy'] == 2))

278

In [34]:
cluster_m.columns

Index(['noduleID', 'spic_groups', 'malignancy', 'malignancy_b', 'split',
       'cluster1', 'cluster2', 'cluster3', 'cluster4', 'cluster5', 'cluster6',
       'cluster7', 'cluster8', 'cluster9', 'cluster10', 'cluster_mode'],
      dtype='object')

In [60]:
a = cluster_m.drop(['noduleID', 'spic_groups', 'malignancy', 'malignancy_b', 'split', 'cluster_mode', 'cluster1','cluster10'], axis=1).mean(axis=1)

In [61]:
cluster_m[a>1.6]['malignancy'].mode()

0    2
Name: malignancy, dtype: int64

In [45]:
len(a)

591